<?xml version="1.0"?>
    <menu>
        <comida>
            <nombre>Hamburguesa Clásica</nombre>
            <precio>$179.00 MXN</precio>
            <descripcion>Hamburguesa con queso, lechuga, tomate y salsa especial.</descripcion>
            <calorias>550</calorias>
        </comida>
        <comida>
            <nombre>Ensalada César</nombre>
            <precio>$150.00 MXN</precio>
            <descripcion>Ensalada fresca con aderezo César, pollo a la parrilla y crutones.</descripcion>
            <calorias>300</calorias>
        </comida>
        <comida>
            <nombre>Pasta Alfredo</nombre>
            <precio>$240.00 MXN</precio>
            <descripcion>Pasta con salsa Alfredo, pollo y queso parmesano.</descripcion>
            <calorias>700</calorias>
        </comida>
        <comida>
            <nombre>Tacos de Pescado</nombre>
            <precio>$195.00 MXN</precio>
            <descripcion>Tacos con pescado a la parrilla, col, y salsa de aguacate.</descripcion>
            <calorias>400</calorias>
        </comida>
        <comida>
            <nombre>Pizza Margherita</nombre>
            <precio>$210.00 MXN</precio>
            <descripcion>Pizza con salsa de tomate, mozzarella fresca y albahaca.</descripcion>
            <calorias>600</calorias>
        </comida>
    </menu>